{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-4 offset-4 login-container">
            <h2>Login</h2>
            {% if error %}
                <div class="alert alert-danger">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            <form action="{{ url('security_connexion') }}" method="post">
                <div class="form-group">
                    <input name="_username"
                           value="{{ last_email }}"
                           class="form-control" required type="email"
                           placeholder="Saisissez votre Email"
                    >
                </div>
                <div class="form-group">
                    <input name="_password"
                           class="form-control" required type="password"
                           placeholder="*******"
                    >
                </div>
                <input type="hidden" name="_target_path" value="/index" />
                <div class="form-group">
                    <input type="submit" class="col-4 btn btn-secondary" value="Connexion">
                    <p class="col-8">Mot de passe oublié ?</p>
                </div>


            </form>
        </div>
    </div>
{% endblock %}

