{% extends 'layout.html.twig' %}

{% block title %}
    Nouveau mot de passe
{% endblock %}


{% block content %}
    <div class="flex">

    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form(form) }}
    </div>
{% endblock %}

