{% extends 'layout.html.twig' %}

{% block title %}Nouvelle réservation{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Reservation</h1>

        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ include('reservation/_form.html.twig') }}

        <a href="{{ path('room_calendar_show', {"id": app.request.get('id')}) }}">back to list</a>
    </div>
{% endblock %}