{% extends 'layout.html.twig' %}

{% block title %}Room index{% endblock %}

{% block body %}
    <div class="row">
        {% for room in rooms %}
            <div class="col-3">
                <div class="card text-white {{ room.state ? 'bg-primary' : 'bg-secondary' }} m-3">
                    <div class="card-header">{{ room.name }}</div>
                    <div class="card-body text-center">
                        <p class="card-text">
                            Places : <b>{{ room.nbPlaces }}</b>
                        </p>
                        <p class="card-text">
                            <a href="#" class="btn btn-info">Calendrier</a>
                        </p>
                        <p class="card-text">
                            {% if room.state == 0 %}
                                <a href="#" class="btn btn-warning">Rendre disponible</a>
                            {% else %}
                                <a href="#" class="btn btn-warning">Rendre indisponible</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="col-12">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#">&laquo;</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">5</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}