{% extends 'layout.html.twig' %}

{% block title %}Nouvelle salle{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-6 offset-3 text-center">

        <h1>Nouvelle salle</h1>

        {{ include('room/_form.html.twig') }}
        </div>
    </div>

{% endblock %}