{% extends 'layout.html.twig' %}

{% block title %}Salle {{ room.name }}{% endblock %}

{% block body %}
    <div class="flex">
        <div class="col-6 offset-3">
            <div class="card bg-light mb-3 text-center" style="max-width: 30rem;margin: 50px;">
                <div class="card-header">{{ room.name}}</div>
                <div class="card-body">
                    <p class="card-text">
                        Nombre de places : <b>{{ room.nbPlaces }}</b><br>
                        Etat : <b>{{ room.commentState }}</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}