<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
        Réservations
    </a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{{ path('reservation_new') }}">Ajouter</a>
        <a class="dropdown-item" href="{{ path('reservation_mes_reservations') }}">
            Mes réservations
            {% if mesReservations > 0 %}
                <span class="badge badge-secondary">{{ mesReservations }}</span>
            {% endif %}
        </a>
    </div>
</li>