<li class="nav-item">
    <a class="nav-link" href="{{ path('reservation_index') }}">Demandes de réservation</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Salles
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{{ path('room_index') }}">Liste des salles</a>
        <a class="dropdown-item" href="#">Hors services</a>
    </div>
</li>