<li class="nav-item active">
    <a class="nav-link" href="{{ path('user_index') }}">Utilisateur</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('room_index') }}">Salles</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('reservation_index') }}">Réservations</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('parametrage_index') }}">Parametrage</a>
</li>