<li class="nav-item active">
    <a class="nav-link" href="{{ path('reservation_index') }}">Demandes de réservation</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">Salle hors d'usage</a>
</li>