<li class="nav-item">
    <a class="nav-link active" href="#">Admin</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">{{ app.user.firstname ~ ' ' ~ app.user.lastname }}</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url('user_index') }}">User List</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url('reservation_index') }}">Reservation List</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url('room_index') }}">Room List</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/logout">Logout</a>
</li>