{% extends 'layout.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit User ID: {{ app.request.attributes.get('id') }}</h1>
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
        <br>
        <p>
            <a class="btn btn-primary" href="{{ path('user_index') }}">back to list</a>
            {{ include('user/_delete_form.html.twig') }}
        </p>
    </div>
{% endblock %}