{% extends 'layout.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <div class="flex">
        <div class="col-6 offset-3">
            <h2 class="text-center">Nouvel utilisateur</h2>
            {% form_theme form 'bootstrap_4_layout.html.twig' %}
            {{ include('user/_form.html.twig') }}
        </div>
    </div>
{% endblock %}